{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load as_currency %}

{% block page_title %}
{% trans "My Applications" %}
{% endblock page_title %}
{% load static%}

{% block base_content %}
<div class="container-fluid ">
    <div class="col-12 d-flex justify-content-center"><h3 class="pb-4">{% trans "Cancel Application" %}</h3></div>
    <div class="container">
        <div class="row">
            <div class="col">
               <form method="post">{% csrf_token %}
                    <h5 class="text-warning">Are you sure you want to cancel your application in "{{ object }}"?</h5><br>
                    <input class="btn btn-danger" type="submit" value="Cancel Application">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock base_content %}