div class="row" >
        <div class="col-lg-4 px-4 py-2" >
            <a href=""><img
                src="{%static 'icons/occupation/png/003-gardener.png'%}"
                class="img-fluid"
            /></a>
            <p class="text-center"> 
                <a class="" href="{% url 'signup' %}">Sou Feirante</a>
            </p>
        </div>
        <div class="col-lg-4 px-4 py-2"  >
            <a href=""><img
                src="{%static 'icons/occupation/png/031-teacher.png'%}"
                class="img-fluid"
            /></a>
            <p class="text-center"> 
                <a class="" href="{% url 'signup' %}">Sou Professor</a>
            </p>
        </div>
        <div class="col-lg-4 px-4 py-2"  >
            <a href=""><img
                src="{%static 'icons/occupation/png/029-student.png'%}"
                class="img-fluid"
            /></a>
            <p class="text-center"> 
                <a class="" href="{% url 'signup' %}">Sou Aluno</a>
            </p>
        </div>
    </div>