{% extends "base.html" %}
{% load i18n %}
{% block page_title %}
Home
{% endblock page_title %}
{% load static%}

{% block base_content %}
<div class="container-fluid ">
    

<div class="row d-flex justify-content-center px-4">
    <div class="col-12 d-flex justify-content-center"><h3 class="pb-4">{% trans "Jobs Vacancies" %}</h3></div>

    {% for job_vacancy in  jobs_vacancies %}
        
        {% include 'JobVacancy/JobVacancyCard.html' with job_vacancy=job_vacancy %}

    {% endfor %}


</div>
{% endblock base_content %}